<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="今の気持ちにぴったりの和歌を探そう">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@logsupport-mark" />
    <meta property="og:url" content="https://love-poemy.herokuapp.com/" />
    <meta property="og:title" content="Poemy" />
    <meta property="og:description" content="今の気持ちにぴったりの和歌を探そう" />
    <meta property="og:image" content="#{image_url('top-poemy.png')}" />

    <title>Poemy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= favicon_link_tag 'sakura.jpg' %>
  </head>

  <body>
    <div class="bg-color">
      <%= yield %>
    </div>
  </body>
</html>
